.item{
    width: 250px;
}
.item p{
    margin: 6px 0px;
}
.item-prices{
    display: flex;
    gap: 20px;
}
.item-price-new{
    font-weight: 600;
    font-size: 18x;
    color: #374151;
}
.item-price-old{
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
    color: #8c8c8c;
}
.item:hover{
    transform: scale(1.05);
    transition: 0.6s;
}
