.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
}

.nav-logo{
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-logo p{
    color: rgb(17, 17, 17);
    font-size: 38px;
    font-weight: 60px;
}
.nav-manu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    font-size: 20px;
    font-weight: 500;
}
.nav-manu li {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
cursor: pointer;
}
.nav-manu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: red;
}
.nav-logine-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}
.nav-logine-cart button{
    width: 160px;
    height: 58px;
    outline: none;
    border: 1px solid;
    border-radius: 75px;
    color:#515151;
    font-size: 20px;
    font-weight: 500;
    background-color: white;
    cursor: pointer;
}
/* .nav-logine-cart button:active{
    background-color: #f3f3f3;
} */
.nav-logine-cart button:hover{
    background:#f3f3f3;
}
.nav-logine-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    font-size: 14px;
    background-color: red; 
    color: white;
    border-radius: 11px;
}
.nav-manu Link{
    text-decoration: none;
    
}
